VITE_API_BASE_URL=http://127.0.0.1:8001
VITE_GITHUB_URL=https://github.com/Jujun111/neural-mingzi-generator
VITE_BLOG_URL=https://github.com/Jujun111/neural-mingzi-generator/blob/main/technical_blog.md
